# Build folders
[Oo]bj/
[Bb]in/

# Temporary Visual Studio files
*.suo
*.cache
*.user
.vs/
*.dbmdl

# ReSharper stuff
_ReSharper.*

# Potential difftool litter files
*.orig

# Ignore NuGet packages
*.nupkg
# ...and packages contents
**/packages/*
# ...except build/, which is used as an MSBuild target.
!**/packages/build/

# Ignore Gooey utilities stuff (should be built separately)
/_Libs/GooeyUtilities.dll
/_Libs/GooeyUtilities.pdb
/_Libs/GooeyUtilities.xml

# Inno Setup output
/_InnoSetup/Output

# MonoDevelop
*.pidb
*.userprefs

## Per-developer configuration files
postBuild.bat

# Ignore temporary files written by programs like Microsoft Word and Vim
~$*
~*.tmp
*.swp
*~

# Others
*.[Cc]ache
